*{
  color: rgb(255,255,255);
  font-family:Arial,sans-serif;
}

body{
  background: #141E30;
  margin: 30px;
  padding: 30px;
}

.header{
  text-decoration: underline;
  text-align: center;
}

.comment{
  color: rgb(150,150,150);
}

.highlight{
  color: rgb(0,0,0);
  background-color: rgb(207,242,4);
}

li{
  list-style-type: none;
  text-align: right;
}

nav{
  top:0px;
  left:0px;
  position: fixed;
  overflow-y: auto;
  width: 100%
}
