*{
  color: rgb(255,255,255);
  font-family:Arial,sans-serif;
}

body{
  background: #141E30;
  margin: 30px;
  padding: 30px;
}

.header{
  text-decoration:underline;
}

.comment{
  color: rgb(150,150,150);
}

.hightlight{
  background-color: rgb(100,20,20);
}
